@charset "UTF-8";

/************************************
	
	NuclearSass
	Main Scss file
	
	TODO: 
	1. Create a nuclear-config.scss

************************************/



@import "partials/config/functions/functions";
@import "partials/config/structure/scaffolding";
@import "partials/config/theme/theme";

@import "partials/libraries/libraries";

@import "partials/atoms/atoms";
@import "partials/molecules/molecules";
@import "partials/organisms/organisms";
@import "partials/pages/pages";
@import "partials/templates/templates";

%type-style-heading {
    font-family: font-family(secondary);
    font-weight: 100;
    text-transform: uppercase;
}

h1 {
	color:  color(brand-primary);
	@extend %massive;
	@extend %type-style-heading;
}