@charset "UTF-8";

/************************************
	
	NuclearSass
	Main Scss file
	
	TODO: 
	1. Create a nuclear-config.scss
		> Allows user to include/exclude scss files using a map
	2. Create easy responsive font manipulation based on 2 types of text Display and Standard
		> Display line-height 1.1*font-size
		> Standard line-height 1.3*font-size
	3. Create a way to set button/text-button line heights equal to desired button height to allow for centering text vertically

************************************/

@import "partials/libraries/libraries"; //must be first

@import "partials/config/structure/scaffolding";
@import "partials/config/theme/theme";

@import "partials/atoms/atoms";
@import "partials/molecules/molecules";
@import "partials/organisms/organisms";
@import "partials/pages/pages";
@import "partials/templates/templates";

%type-style-heading {
    font-family: font-family(secondary);
    font-weight: 100;
    text-transform: uppercase;
}

h1 {
	color:  color(brand-primary);
	@extend %small;
	@extend %type-style-heading;
}