.dropdown,
.dropdown--hover {
  $dropdown-distance-from-menu: 15px;

  .dropdown__container {
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .dropdown__description {
    float: left;
    padding-right: 1em;
  }

  .dropdown__button,
  .dropdown__button--hover {
    cursor: pointer;
    float: right;
    position: relative;
  }

  .dropdown__button:after,
  .dropdown__button--hover:after {
    display: block;
    position: absolute;
  }

  .dropdown__menu,
  .dropdown__menu--hover {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: none;
    overflow: visible;
    position: absolute;
    text-align: left;
    top: $dropdown-distance-from-menu;
    width: 228px;
    z-index: z(dropdown);
	background-color: color(white);
	box-shadow: shadow(overlay, color(brand-primary, 55%, lighten));
	padding: padding(base);
	list-style: none;
  }

    .dropdown__menu li,
	.dropdown__menu--hover li {
		margin: margin(small) 0;
	}

  .show__menu,
  .show__menu--hover {
    display: block;
	transition: all 0.2s ease-in-out;
  }
}
