// Media Object

/*

<div class="media ">

  <a href="#" class="img">
    <img src="http://stubbornella.com/profile_image.jpg" alt="me" />
  </a>

  <div class="bd">
    @Stubbornella 14 minutes ago
  </div>

</div>

*/

.media {
	margin:10px;
}

.media a {
	@extend %link;
}

.media,
.body {
	overflow: hidden;
	_overflow: visible;
	zoom: 1;
}
.media .img {float:left; margin-right: 10px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}
