/*******
	
	NuclearSass Framework
	Theme Configuration
	
	v0.1 alpha
	
*******/
	
	
/************************************
	
	TYPOGRAPHY

************************************/

// sets font stacks
$font-stack: (
	primary: #{'Helvetica Neue', Helvetica, Arial, sans-serif},
	secondary: #{Georgia, 'Times New Roman', sans-serif},
	code: #{'source code pro', monospace}
);

// sets relative base font sizes
// unitless
$font-sizes: (
	massive: 6,
	giant: 4,
	extra-big: 3,
	big: 2,
	base: 1,
	small: .875,
	extra-small: .5
);

/************************************
	
	COLORS

************************************/

// Can take any valid color value - hex, rgb(), srgb(), etc.
// Extendable - you can add/subtract as many colors as you need for your application
// Utilizes - color(<COLORNAME>, <TONE>optional, <FUNCTION>optional);

$colors: (
    brand-primary: #cd453d,
    brand-secondary: #aeaeae,
    brand-tertiary: #dad7c2,
    cta: #cd453d,
    gray: #777777
);

// Tone presets for colors
// accepts number, utilizes the Sass lighten() and darken() functions
$tones: (
	extra-light: 20%,
	light: 10%,
	dark: 10%,
	extra-dark: 20%
);


/************************************
	
	BUTTONS

************************************/


$buttons: (
	button: (
		margin: #{1rem, 0},
		padding: #{0 10px},
		font-family: font-family(primary),
		font-size: 1rem,
		line-height: 2rem,
		color: color(brand-primary),
		background: transparent,
		border: 1px solid color(brand-primary),
		border-radius: .25rem,
		transition: transition(fast)
	),
	text-button: (
		margin: #{1rem, 0},
		padding: #{0 10px},
		font-family: font-family(primary),
		font-size: 1rem,
		line-height: 2rem,
		color: color(brand-primary),
		background: transparent,
		border: 1px solid color(brand-primary),
		border-radius: .25rem,
		transition: transition(fast)
	)
);


/************************************
	
	FORMS

************************************/

