/************************************
	
	labels

************************************/


/************************************
	DEFAULT label CONFIG
	
	Use this to create your base text atom(s).
	You may overwrite/extend and, all, or none of the CSS properties using the $text map.
	
************************************/

// Default text styles
// @extend %text
$label: (
	font-family: font-family(secondary),
	font-size: font-size(base),
	color: color(gray, extra-dark),
);
@include label($label);

/************************************
	EO DEFAULT labels CONFIG
************************************/


/************************************
	
	labels MODIFIERS
	
	To create a new modifier, create a new label map.
	The label map must contain a 'name' key.
		> 'name' is used to create the placeholder class.
	
	Responsive Type:
	If you want to utilize structured, responsive type, use the 'size' key.
	
	To instntiate, @include the label() mixin with the second argument as your new label map.
	
	Example:
	
	$NEW-label: (
		name: 'NEW-label', 
		css-property: value, 
	);
	@include label($heading, $NEW-label);
	
************************************/

// label variations
// @extend %<name>