%massive {
  font-size: rem(map-get-deep($type-sizes, massive, extra-small, font-size));
  line-height: rem(map-get-deep($type-sizes, massive, extra-small, line-height));


  @media screen and (min-width: breakpoint(small)) {
    font-size: rem(map-get-deep($type-sizes, massive, small, font-size));
    line-height: rem(map-get-deep($type-sizes, massive, small, line-height));
  }

  @media screen and (min-width: breakpoint(medium)) {
    font-size: rem(map-get-deep($type-sizes, massive, medium, font-size));
    line-height: rem(map-get-deep($type-sizes, massive, medium, line-height));
  }
  
  @media screen and (min-width: breakpoint(large)) {
    font-size: rem(map-get-deep($type-sizes, massive, large, font-size));
    line-height: rem(map-get-deep($type-sizes, massive, large, line-height));
  }
}


%giant {
  font-size: rem(map-get-deep($type-sizes, giant, extra-small, font-size));
  line-height: rem(map-get-deep($type-sizes, giant, extra-small, line-height));


  @media screen and (min-width: breakpoint(small)) {
    font-size: rem(map-get-deep($type-sizes, giant, small, font-size));
    line-height: rem(map-get-deep($type-sizes, giant, small, line-height));
  }

  @media screen and (min-width: breakpoint(medium)) {
    font-size: rem(map-get-deep($type-sizes, giant, medium, font-size));
    line-height: rem(map-get-deep($type-sizes, giant, medium, line-height));
  }
  
  @media screen and (min-width: breakpoint(large)) {
    font-size: rem(map-get-deep($type-sizes, giant, large, font-size));
    line-height: rem(map-get-deep($type-sizes, giant, large, line-height));
  }
}

%extra-big {
  font-size: rem(map-get-deep($type-sizes, extra-big, extra-small, font-size));
  line-height: rem(map-get-deep($type-sizes, extra-big, extra-small, line-height));


  @media screen and (min-width: breakpoint(small)) {
    font-size: rem(map-get-deep($type-sizes, extra-big, small, font-size));
    line-height: rem(map-get-deep($type-sizes, extra-big, small, line-height));
  }

  @media screen and (min-width: breakpoint(medium)) {
    font-size: rem(map-get-deep($type-sizes, extra-big, medium, font-size));
    line-height: rem(map-get-deep($type-sizes, extra-big, medium, line-height));
  }
  
  @media screen and (min-width: breakpoint(large)) {
    font-size: rem(map-get-deep($type-sizes, extra-big, large, font-size));
    line-height: rem(map-get-deep($type-sizes, extra-big, large, line-height));
  }
}

%big {
  font-size: rem(map-get-deep($type-sizes, big, extra-small, font-size));
  line-height: rem(map-get-deep($type-sizes, big, extra-small, line-height));


  @media screen and (min-width: breakpoint(small)) {
    font-size: rem(map-get-deep($type-sizes, big, small, font-size));
    line-height: rem(map-get-deep($type-sizes, big, small, line-height));
  }

  @media screen and (min-width: breakpoint(medium)) {
    font-size: rem(map-get-deep($type-sizes, big, medium, font-size));
    line-height: rem(map-get-deep($type-sizes, big, medium, line-height));
  }
  
  @media screen and (min-width: breakpoint(large)) {
    font-size: rem(map-get-deep($type-sizes, big, large, font-size));
    line-height: rem(map-get-deep($type-sizes, big, large, line-height));
  }
}

%base {
  font-size: rem(map-get-deep($type-sizes, base, extra-small, font-size));
  line-height: rem(map-get-deep($type-sizes, base, extra-small, line-height));


  @media screen and (min-width: breakpoint(small)) {
    font-size: rem(map-get-deep($type-sizes, base, small, font-size));
    line-height: rem(map-get-deep($type-sizes, base, small, line-height));
  }

  @media screen and (min-width: breakpoint(medium)) {
    font-size: rem(map-get-deep($type-sizes, base, medium, font-size));
    line-height: rem(map-get-deep($type-sizes, base, medium, line-height));
  }
  
  @media screen and (min-width: breakpoint(large)) {
    font-size: rem(map-get-deep($type-sizes, base, large, font-size));
    line-height: rem(map-get-deep($type-sizes, base, large, line-height));
  }
}

%small {
  font-size: rem(map-get-deep($type-sizes, small, extra-small, font-size));
  line-height: rem(map-get-deep($type-sizes, small, extra-small, line-height));


  @media screen and (min-width: breakpoint(small)) {
    font-size: rem(map-get-deep($type-sizes, small, small, font-size));
    line-height: rem(map-get-deep($type-sizes, small, small, line-height));
  }

  @media screen and (min-width: breakpoint(medium)) {
    font-size: rem(map-get-deep($type-sizes, small, medium, font-size));
    line-height: rem(map-get-deep($type-sizes, small, medium, line-height));
  }
  
  @media screen and (min-width: breakpoint(large)) {
    font-size: rem(map-get-deep($type-sizes, small, large, font-size));
    line-height: rem(map-get-deep($type-sizes, small, large, line-height));
  }
}

%extra-small {
  font-size: rem(map-get-deep($type-sizes, extra-small, extra-small, font-size));
  line-height: rem(map-get-deep($type-sizes, extra-small, extra-small, line-height));


  @media screen and (min-width: breakpoint(small)) {
    font-size: rem(map-get-deep($type-sizes, extra-small, small, font-size));
    line-height: rem(map-get-deep($type-sizes, extra-small, small, line-height));
  }

  @media screen and (min-width: breakpoint(medium)) {
    font-size: rem(map-get-deep($type-sizes, extra-small, medium, font-size));
    line-height: rem(map-get-deep($type-sizes, extra-small, medium, line-height));
  }
  
  @media screen and (min-width: breakpoint(large)) {
    font-size: rem(map-get-deep($type-sizes, extra-small, large, font-size));
    line-height: rem(map-get-deep($type-sizes, extra-small, large, line-height));
  }
}